@media (max-width: 320px) {
    .menu{
            padding: 0;
    }
    .menu-item a:hover {
        border: 2px solid #ffffff;
        padding: 4px 6px;
        border-radius: 25px;
    }
    .menu-item a{
        padding: 4px 6px;
        border: 2px solid transparent;
    }
}
@media (max-width: 747px) {
    header {margin-bottom: 70px;}
    .banner-text  {
        flex-basis: 250px;
        text-align: center;
    }
    .page-nav {
        flex-direction: column;
        margin-bottom: 36px;
    }
    .page-logo {    order: 3;}
    .menu {
        margin-bottom: 70px;
        padding: 0;
    }
    .banner-text-title {
        margin-bottom: 26px;
        font-weight: bold;
    }
    .banner-text {
        margin-bottom: 10px;
    }
    .banner {
        padding-top: 30px;
    }
    .partners-title {
        margin-bottom: 20px;
    }
    .partners-list-item:not(:last-child) {
        margin-bottom: 30px;
    }
    .partners-list {
        margin-bottom: 30px;
    }
    main {  padding-bottom: 56px;}
}
@media (min-width: 748px) and (max-width: 939px) {
    .conteiner {
        margin: 0 auto;
    }
    .banner {
        min-height: 748px;
    }
    .page-nav {
        width: 660px;
        justify-content: space-between;
        margin: auto;
        padding-top: 50px;
    }
    .banner-text-title {
        max-width: 500px;
        font-size: 52px;
        line-height: 1.5em;
        font-weight: 700;
        margin: 117px auto 33px auto;
    }
    .banner-text {
        font-size: 24px;
        margin-bottom: 30px;
    }
    .banner-text-link {width: 230px;}
    .partners-title {margin: 30px 0;}
    .partners-list {
        display: flex;
        width: 490px;
        flex-wrap: wrap;
        margin: auto;
        margin-bottom: 40px;
    }
    .partners-list-item:not(:nth-last-child(-n+2))  {margin-bottom: 60px;}
    .partners-list-item:nth-child(4) {margin-top: 0;}
    main {padding-bottom: 40px;}
}
 @media (min-width: 940px) {

    .conteiner {width: 940px;      }
    header {margin-bottom: 70px;}
    .menu-item a {
        display: block;
        width: 90px;
        text-align: center;
        border: 2px solid transparent;
     }
    .menu {
        padding: 0;
    }
    .banner{
        min-height: 700px;
    }
    .page-nav {
        width: 940px;
        justify-content: space-between;
        padding-top: 30px;
        height: 80px;
    }
    .banner-text-title {
        max-width: 500px;
        font-size: 52px;
        line-height: 1.5;
        font-weight: 700;
        margin: 117px auto 33px auto;
    }
    .banner-text {
        width: 404px;
        font-size: 24px;
        margin-bottom: 30px;
    }
    .banner-text-link {
        width: 280px;
        font-size: 16px;
    }
    main {padding-bottom: 72px;}
    .partners-title {margin-bottom: 30px;}
    .partners-list {display: flex;}
    .lucas {padding-top: 20px; }
    .partners-list {margin-bottom: 40px;}
    .lucas::after { top: 105px;}

 } 